In [17]:
#Q1. Create one variable containing following type of data:
#(i) string
#(ii) list
#(iii) float
#(iv) tuple
#Question-1
#ans-

In [1]:
a1=('rohit')
a1

'rohit'

In [2]:
type(a1)

str

In [3]:
a2=["rohit","chauhan",1,2,3,45.45]
a2

['rohit', 'chauhan', 1, 2, 3, 45.45]

In [4]:
type(a2)

list

In [5]:
a3=456.45
type(a3)

float

In [6]:
a4=("rohit","chauhan","rahul")
type(a4)

tuple

In [7]:
# Qestion-2:
# Ans_
var1=''
var1

''

In [8]:
var2='[DS,ML,PYTHON]'
var2

'[DS,ML,PYTHON]'

In [9]:
var3=['DS','ML','PYTHON']
var3

['DS', 'ML', 'PYTHON']

In [10]:
var4=1.
var4

1.0

In [11]:
# What will be the data type of the above given variable.
# Answer- all answer of question 2 are given above

In [12]:
#Q3. Explain the use of the following operators using an example:
#(i) /
#(ii) %
#(iii) //
#(iv) **

In [13]:
a=45/5 # "/" is for devision with the floating value
a

9.0

In [14]:
a=45%5 # "%" operstor are used for determine  the reminder 
a

0

In [15]:
a=45//5 # "//" operator is for devision without floating value
a

9

In [16]:
a=45**5  # "**" operator are use for squaring a number
a

184528125

In [17]:
"""Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type."""

'Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the\nelement and its data type.'

In [18]:
l1=[1,2,3,4,5,"abc",45.45,"rohit",45,68]
for i in l1:
    print(i)

1
2
3
4
5
abc
45.45
rohit
45
68

In [19]:
type(l1)

list

In [20]:
l2=[]
l3=[]
for i in l1:
    print(i)
    if type(i)==int or type(i)==float:
        l2.append(i)
    else:
         l3.append(i)

1
2
3
4
5
abc
45.45
rohit
45
68

In [21]:
l2

[1, 2, 3, 4, 5, 45.45, 45, 68]

In [22]:
l3

['abc', 'rohit']

In [23]:
type(l2)

list

In [24]:
type(l3)

list

In [110]:
"""Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible."""

'Using a while loop, verify if the number A is purely divisible by number B and if so then how many\ntimes it can be divisible.'

In [21]:
a=45
b=5
c=a/b
while(a/b):
    print(c)
    break

9.0

In [23]:
a=int(input("Enter the first number")) # we are using integer value
b=int(input("Enter the second number"))
c=a/b
while(a/b):
    print(c)
    break
print("number is devisible")

Enter the first number 888
Enter the second number 3

296.0
number is devisible

In [25]:
a=float(input("Enter the first number")) # we are using float value
b=float(input("Enter the second number"))
c=a/b
while(a/b):
    print(c)
    break
print("number is devisible")

Enter the first number 999
Enter the second number 2

499.5
number is devisible

In [27]:
"""Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not."""

'Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is\ndivisible by 3 or not.'

In [65]:
# ans-6
l1=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
l1

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [66]:
for i in l1:
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

In [67]:
if(i/3)==0:
    print(i)       
else:
     
    print("not devisible by 3")

not devisible by 3

In [ ]:
"""Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property."""

In [80]:
# Ans-
mutable="In mutable we can change the value or we can say we can update the data"
mutable

'In mutable we can change the value or we can say we can update the data'

In [82]:
example="list"
example

'list'

In [86]:
a=[1,2,3,4] # now we can update index no. 3
a[3]=5
a

[1, 2, 3, 5]

In [87]:
Immutable="IN immutable we can't change the data"
Immutable

"IN immutable we can't change the data"

In [88]:
example="string"
example

'string'

In [89]:
str=("a","b","c") # now we try to change a in d
str[0]

'a'

In [92]:
str[0]=d

NameError: name 'd' is not defined

In [ ]:
# so can't change the a so this is a immutable